This is my first jupiter notebook. Press shift + enter to go on.

# Heading 1

## Heading 2

In [1]:
print("Hello, World!")

Hello, World!

String: any sequence of character (inside quotations)

## Variables

In [2]:
greeting = "Hello, World!"

This is a variable, a bucket that contain something inside. We can reuse what is stored in the variable.

In [4]:
print(greeting)

Hello, World!

In [5]:
print(greating)

NameError: name 'greating' is not defined

when I make a error, it tells me what type of error I made.

In [6]:
greeting = "Goodbye, World!"

In [7]:
print(greeting)

Goodbye, World!

You can overwrite a variable!

Naming variables: variable names can contain only letters, numbers, underscores (no special character). Variable names cannot start with a number. Variable names cannot contain spaces. Variable should not be preexisting commands, such as 'print'. Variables should be short but meaningful to me.

## Strings

In [8]:
example_1 = "This is a string."
print(example_1)

This is a string.

In [9]:
example_2 = 'This is also a string.'
print(example_2)

This is also a string.

You can use both double and single quotations, but you have to start and end with the same type of quotations.

In [11]:
example_3 = 'I asked the question, "When should I use double quotes?"'
print(example_3)

I asked the question, "When should I use double quotes?"

I can use single quotation for string when I want to put part of the string between quotations.

String can have methods.

In [12]:
historian = 'edward gibbon'

In [13]:
print(historian)

edward gibbon

In [14]:
print(historian.title()) #puts the initials uppercase

Edward Gibbon

.title() > it puts in titlecase (uppercase). This is a method that works with every string.

In [15]:
novelist = "Becky Chambers"

In [16]:
print(novelist)
print(novelist.upper()) #it will be all uppercase
print(novelist.lower()) #all lowercase

Becky Chambers
BECKY CHAMBERS
becky chambers

In [3]:
string_x = "Can you find the x in this string?"

In [5]:
print(string_x)

Can you find the x in this string?

In [6]:
print(string_x.find("x"))

17

With the method .find() we can find a certain part of the string. It will return the index of the letter (starting from 0 )

Strings are a datatype in Python. We move now to another one

## Integer

Integers are whole numbers.

In [7]:
678 + 3576

4254

In [8]:
19 - 7

12

In [9]:
 54 * 3

162

In [10]:
30 / 10

3.0

N.B. 3.0 is a float, since it has decimals.

I can do exponents too:

In [11]:
3 ** 3

27

With floats we can do the same types of operations:

In [12]:
0.2 + 0.5

0.7

In [13]:
large_number = 1_000_000 #you can put underscore where you usually put commas

In [14]:
large_number + 2

1000002

We can use variables inside equations

In [15]:
x, y, z = 1, 2, 3

In [16]:
print(z)

3

In [17]:
x + y

3

We can define more than one variable at time

In [18]:
'14' + 6
#this is a string because it has quotation

TypeError: can only concatenate str (not "int") to str

I cannot use two different datatypes together

In [19]:
'14' + '6'

'146'

This is called concatenation.

In [20]:
print(type('14'))

<class 'str'>

In [21]:
print(type(x))

<class 'int'>

The method type() tells you what datatype are you dealing with

## List

A list is a sequence of something. They need to be in square bracket. The items are separated by commas

In [22]:
subjects = ['Classics', 'History', 'Literature']

Elements of a list have an index starting from zero

In [23]:
print(subjects)

['Classics', 'History', 'Literature']

In [24]:
print(subjects[0]) #to get a particular item of a list you put the index position

Classics

In [25]:
subjects[0]

'Classics'

Jupyter prints even if you don't use the print command, but in other coding enviroments it does not work like this and you need always to use the print command.